Additional testcases

#1 is old and not super well organized, so I'm copying things that haven't yet been done into this new issue.

## RFC 5280

- [ ] implementations should reject EC keys not in `namedCurve` format (see #173)
- [ ] implementations should reject v1 certificates that contain v3 extensions

## CABF

- [ ] 7.1.4.3: If present, `Subject.commonName` MUST contain exactly one entry that is one of the values contained in the `subjectAltName` extension, and MUST be encoded as follows
    * For IPv4 addresses, must be an `IPv4Address` per RFC 3986 S. 3.2.2
    * For IPv6 addresses, must be be encoded in the text representation specified in RFC 5952 S. 4.
    * For FQDNs or wildcard domain names, must be a char-for-char copy of the `dNSName` entry from `subjectAltName`; P-labels must not be converted to their Unicode representation.
- [ ] 7.1.2.7.6 and 7.1.2.7.10: `extKeyUsage` is required in subscriber certificates, and MUST contain `id-kp-serverAuth` (MAY contain `id-kp-clientAuth`), and MUST NOT contain any other `id-kp-*`, `anyExtendedKeyUsage`, or the Precertificate Signing Certificate OID (1.3.6.1.4.1.11129.2.4.4)
- [ ] 7.1.2.10.6: CA EKUs are similar to subscriber cert EKUs


We need a test case for DoS in name constraint handling: https://github.com/openssl/openssl/pull/4393

> We need a test case for DoS in name constraint handling: [openssl/openssl#4393](https://github.com/openssl/openssl/pull/4393)

Opened #204 for these. Will investigate why OpenSSL appears to pass its own DoS test.

Some more cases that someone dropped on the GnuTLS issue tracker:

* https://gitlab.com/gnutls/gnutls/-/issues/1673
* https://gitlab.com/gnutls/gnutls/-/issues/1672
* https://gitlab.com/gnutls/gnutls/-/issues/1671
* https://gitlab.com/gnutls/gnutls/-/issues/1669
* https://gitlab.com/gnutls/gnutls/-/issues/1688
* https://gitlab.com/gnutls/gnutls/-/issues/1676
* https://gitlab.com/gnutls/gnutls/-/issues/1675
* https://gitlab.com/gnutls/gnutls/-/issues/1674

(Some of these might already be present.)